html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #262626;
    background-color: #f6f6f6;
}

/* CITATION BOX */
.ui-dialog {
    box-shadow: 0px 0px 5px #333;
}
.ui-widget-header {
    /*font-family: 'Droid Serif', serif;*/
    background: none;
    background-color: #a00;
}

#dialog {
    font-size: 13px;
}
